@import url(https://db.onlinewebfonts.com/c/33be5a69beaf2663834a76d643ad50ec?family=Prophet-Medium);
h1 {
    color: white;
    text-align: center;
    font-family: "Prophet-Medium";
    font-size: 58px;
}

.contact {
    color: white;
    font-family: "Roboto", sans-serif;
    position: relative;
    background: #4e4e4e;
    opacity: 95%;
    max-width: 800px; 
    margin: 75px auto 0;
    padding: 50px; 
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    font-size: 24px; 
}

