@import url(https://db.onlinewebfonts.com/c/33be5a69beaf2663834a76d643ad50ec?family=Prophet-Medium);
h1 {
    color: white;
    text-align: center;
    font-family: "Prophet-Medium";
    font-size: 58px;
}

h2{
    color: white;
    text-align: center;
    font-family: "Prophet-Medium";
}

h3{
    color: white;
    text-align: center;
    font-family: "Prophet-Medium";
}

.about {
    color: white;
    font-family: "Roboto", sans-serif;
    position: relative;
    background: #4e4e4e;
    opacity: 95%;
    max-width: 800px; 
    margin: 75px auto 0;
    padding: 50px; 
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    font-size: 24px; 
}

body {
    padding: 0;
    margin: 0;
    background: url(LoginBackground.jpg) no-repeat;
    background-size: cover;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Prophet-Medium";
    font-size: 20px;
}

.navbar li a:hover {
    background-color: #06C5CF;
}

.navbar li a.active {
    background-color: #1ADBE5;
}